.btn {
   position: relative;
   padding: .8rem 2rem;
   border: none;
   width: fit-content;
   max-width: 12rem;
   color: $color-text-b;
   background: $color-extra-1;
   will-change: transform;
   cursor: pointer;
   overflow: hidden;

   .btn__text {
      position: relative;
      pointer-events: none;
      z-index: 1;
   }

   &::after {
      transition: .2s ease-out;
      position: absolute;
      content: '';
      width: 13rem;
      height: 13rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);
      border-radius: 50%;
      background: $color-main;
      pointer-events: none;
      will-change: transform;
   }

   &:hover {

      &::after {
         transform: translate(-50%, -50%) scale(1);
      }
   }
}