.skills {

   .skills__container {
      padding: 5rem 1rem;
      margin: auto;
      max-width: 900px;

      //Title
      .skills__title-container {
         padding: 1rem 1rem;

         .skills__title {
            width: fit-content;
            padding-bottom: .5rem 0;
            color: $color-text-b;
            border-bottom: .1rem solid $color-text-b;
            will-change: transform;
         }
      }

      //Container
      .skills__items--container {
         display: flex;
         gap: 1rem;
         flex-wrap: wrap;
         padding: 1rem 1rem;

         .skills__item {
            transition: .5s cubic-bezier(0.645, 0.045, 0.355, 1);
            position: relative;
            width: 8.5rem;
            height: 12rem;
            background: $color-secondary;
            border-radius: 1rem;
            will-change: transform;
            cursor: pointer;

            .skills__item-content {
               position: absolute;
               display: grid;
               gap: .5rem;
               grid-template-rows: 1fr auto;
               padding: 1rem;
               padding-top: 1.5rem;
               width: 100%;
               height: 100%;
               top: 0;
               left: 0;
               pointer-events: none;
               z-index: 2;

               .skills__logocontainer {
                  position: relative;
                  width: 100%;
                  height: 100%;

                  //Svg
                  .default-logo {
                     position: absolute;
                     max-height: 100%;
                     max-width: 100%;
                     height: 100%;
                     width: 100%;
                     left: 50%;
                     transform: translateX(-50%);
                  }
               }

               .skills__titlelogo {
                  text-align: center;
               }
            }

            &::before {
               position: absolute;
               content: '';
               width: 100%;
               height: 100%;
               top: 0;
               left: 0;
               pointer-events: none;
               border-radius: 1rem;
               box-shadow: inset .2rem .2rem .5rem rgba(0, 0, 0, 0.658),
                  inset -.2rem -.2rem .2rem rgba(0, 0, 0, 0.253),
                  -.5rem -.5rem 1rem .2rem rgba(63, 63, 63, 0.096);
               background-image: linear-gradient(-45deg, rgba(17, 17, 17, 0.26), rgba(10, 10, 10, 0.671));
               transition: .5s cubic-bezier(0.47, 0, 0.745, 0.715);
               will-change: opacity;
            }

            &::after {
               position: absolute;
               content: '';
               width: 100%;
               height: 100%;
               top: 0;
               left: 0;
               opacity: 0;
               pointer-events: none;
               border-radius: 1rem;
               box-shadow: inset .3rem .3rem .5rem rgba(49, 49, 49, 0.377),
                  -.5rem -.5rem 1rem .2rem rgba(49, 49, 49, 0.253),
                  .7rem .7rem 1rem .2rem rgba(0, 0, 0, 0.877);
               background-image: linear-gradient(135deg, rgba(59, 59, 59, 0.26), #0c0c0cde);
               transition: .5s cubic-bezier(0.47, 0, 0.745, 0.715);
               will-change: opacity;
            }
         }

         .animation--on {

            transform: scale(1.02);

            &::before {
               opacity: 0;
            }

            &::after {
               opacity: 1;
            }

         }
      }
   }

   //Border bottom
   #skills__border-bottom {
      left: 0;
      width: 100%;
      fill: $color-main;
      fill: grey;
      transform: rotate(180deg);
      will-change: transform;
   }
}


/*-------------------------*/
/* Icon style */
/*-------------------------*/
@import "./logos"