@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}

:root {
   @include theme_1;
   @include theme_1--logos;
}

.light-theme {
   @include theme_2;
}

#root {
   max-width: 100vw;
   overflow-x: hidden;
}

body {
   color: $color-text;
   background: $color-main;
   -webkit-tap-highlight-color: transparent;
}

li {
   list-style: none;
}

a {
   text-decoration: none;
}

/*---------------------------------*/
/* SCROLL */
/*---------------------------------*/
.scroll::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 .5rem $color-main;
   background-color: $color-text-b;
}

.scroll::-webkit-scrollbar {
   width: .6rem;
   height: .6rem;
   background-color: transparent;
}

.scroll::-webkit-scrollbar-thumb {
   -webkit-box-shadow: inset 0 0 6px black;
   border-radius: .5rem;
   background-color: grey;
}

/*---------------------------------*/
/* ANIMATIONS */
/*---------------------------------*/
@keyframes rotate1 {
   from {
      transform: rotate(0deg);
   }

   to {
      transform: rotate(360deg);
   }
}