/*-----------------------------*/
/* COLORS */
/*-----------------------------*/
//Theme 1
$color-main: var(--color-main);
$color-secondary: var(--color-secondary);
$color-extra-1: var(--color-extra-1);
$color-text: var(--color-text);
$color-text-b: var(--color-text-b);
$color-link: var(--color-link);

//Theme 1 (Icons)
$color-html: var(--color-html);
$color-html-active: var(--color-html-active);
$color-css: var(--color-css);
$color-css-active: var(--color-css-active);
$color-sass: var(--color-sass);
$color-sass-active: var(--color-sass-active);
$color-js: var(--color-js);
$color-js-active: var(--color-js-active);
$color-es6: var(--color-es6);
$color-es6-active: var(--color-es6-active);
$color-react: var(--color-react);
$color-react-active: var(--color-react-active);
$color-mysql: var(--color-mysql);
$color-mysql-active: var(--color-mysql-active);
$color-router: var(--color-router);
$color-router-active: var(--color-router-active);
$color-redux: var(--color-redux);
$color-redux-active: var(--color-redux-active);
$color-context: var(--color-context);
$color-context-active: var(--color-context-active);
$color-php: var(--color-php);
$color-php-active: var(--color-php-active);
$color-git: var(--color-git);
$color-git-active: var(--color-git-active);
$color-vscode: var(--color-vscode);
$color-vscode-active: var(--color-vscode-active);
$color-github: var(--color-github);
$color-github-active: var(--color-github-active);
$color-linux: var(--color-linux);
$color-linux-active: var(--color-linux-active);
$color-psd: var(--color-psd);
$color-psd-active: var(--color-psd-active);
$color-ai: var(--color-ai);
$color-ai-active: var(--color-ai-active);
$color-figma: var(--color-figma);
$color-figma-active: var(--color-figma-active);

/*-----------------------------*/
/* MEDIA QUERYES */
/*-----------------------------*/

$size1: 55rem;
$size3: 50rem;
$size4: 40rem;
$size5: 35rem;