/*-----------------------------*/
/* COLORS */
/*-----------------------------*/
$color-main: var(--color-main);
$color-secondary: var(--color-secondary); 
$color-extra-1: var(--color-extra-1); 
$color-text: var(--color-text); 
$color-text-b: var(--color-text-b); 
$color-link: var(--color-link);