.weather {
   --bg-weather: $color-main;

   color: $color-text-b;
   background: var(--bg-weather);

   .weather-draw {
      position: relative;

      .weather-content {
         position: absolute;
         padding: 2rem 1rem;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }
   }

   .weather-assets {
      position: relative;
      padding: 2rem 1rem;

      &:before {
         position: absolute;
         content: '';
         left: 0;
         bottom: 100%;
         width: 100%;
         height: 6rem;
         background-image: linear-gradient(0deg, var(--bg-weather) 5%, transparent);
      }
   }
}