#weather-svg {
   .cls-1 {
      fill: url(#linear-gradient);
   }

   .cls-2 {
      fill: #fc0;
   }

   .cls-3 {
      opacity: 0.72;
   }

   .cls-4 {
      fill: url(#linear-gradient-2);
   }

   .cls-5 {
      fill: url(#linear-gradient-3);
   }

   .cls-6 {
      fill: url(#linear-gradient-4);
   }

   .cls-7 {
      fill: url(#linear-gradient-5);
   }

   .cls-8 {
      fill: url(#linear-gradient-6);
   }

   .cls-10,
   .cls-9 {
      fill: #c0d0d8;
   }

   .cls-10 {
      opacity: 0.74;
   }

   .cls-11 {
      fill: none;
      stroke: #fcfcfc;
      stroke-miterlimit: 10;
      stroke-width: 3px;
   }
}