#contact-svg {

   .cls-1 {
      fill: #303030;
   }

   .cls-2 {
      fill: #c49674;
   }

   .cls-4 {
      fill: #141414;
   }

   .cls-5 {
      fill: #545454;
   }

   .cls-6 {
      fill: #020202;
   }

   .cls-7 {
      fill: #bcbcbc;
   }

   .cls-8 {
      fill: #050505;
   }

   .cls-9 {
      fill: #232323;
   }

   .cls-10 {
      fill: #2d2d2d;
   }

   .cls-11 {
      fill: $color-extra-1;
   }
}