.menu__clock-container {
   stroke: $color-text-b;

   .clock__numbers {
      fill: none;
      stroke-width: .8rem;
   }

   #bg {
      fill: $color-main;
      stroke: none;
   }

   #second {
      stroke-miterlimit: 10;
      fill: none;
      stroke-width: .25rem;
      will-change: transform;
   }

   #minute {
      fill: none;
      stroke-width: .5rem;
      will-change: transform;
   }

   #hour {
      fill: none;
      stroke-width: .8rem;
      will-change: transform;
   }

   #second,
   #minute,
   #hour {
      transform-origin: center;
   }

   #center {
      stroke: none;
      fill: $color-text-b;
   }
}