.menu__clock-container {
   stroke: $color-text-b;

   .clock__numbers {
      fill: none;
      stroke-width: .8rem;
   }

   #bg {
      fill: $color-extra-1;
      stroke: none;
   }

   #second {
      stroke-miterlimit: 10;
      fill: none;
      stroke-width: .25rem;
   }

   #minute {
      fill: none;
      stroke-width: .5rem;
   }

   #hour {
      fill: none;
      stroke-width: .8rem;
   }

   #center {
      stroke: none;
      fill: $color-text-b;
   }
}