//--------------------------------MENU BODY
.menu__container {
   grid-column: 2;
   grid-row: span 2;
   display: grid;
   grid-template-rows: auto 1fr auto;
   width: 15rem;
   height: 100%;
   background: $color-main;
   z-index: 3;
   will-change: transform;

   .menu__clock-container {
      margin: 2rem auto 0 auto;
      width: 8rem;
   }

   .menu__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 15rem;
      right: -15rem;
      top: 0;
      text-align: center;

      .menu__item {
         position: relative;
         padding: .5rem 0;
         width: 10rem;
         color: $color-text-b;
         transition: .2s;

         &::before,
         &::after {
            position: absolute;
            content: '';
            width: .5rem;
            height: 1px;
            top: 50%;
            left: 0;
            opacity: 0;
            background: $color-extra-1;
         }

         &::after {
            left: auto;
            right: 0;
         }

         &:hover {
            padding: 1rem 0;
            color: $color-extra-1;


         }
      }

      .menu__link--active {
         .menu__item {
            padding: 1rem 0;
            color: $color-extra-1;

            &::before,
            &::after {
               opacity: 1;
            }
         }
      }
   }

   .menu__settings {
      padding: 0 1rem 2rem 1rem;

      .menu__settings-icon {
         padding: .6rem;
         width: 3rem;
         height: 3rem;
         background: rgb(33, 33, 34);
         border-radius: .5rem;
         cursor: pointer;
         user-select: none;

         .icon-theme {
            transition-delay: .1s;
            transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            fill: $color-text;
            transform: rotate(200deg);
         }
      }
   }
}

.light-theme {
   .menu__settings-icon {

      .icon-theme {
         transition-delay: .1s;
         fill: #e2bd55 !important;
         transform: rotate(-350deg) !important;
      }
   }
}