//----------------------------------BANNER
.banner {
   position: relative;
   height: 90vh;
   min-height: 20rem;
   max-width: 100vw;
   background: $color-main;
   user-select: none;
   overflow: hidden;
   will-change: transform;

   .banner__title-contaniner {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 4rem;
      height: 100%;
      z-index: 1;
   }

   .banner__title {
      font-weight: 100;
      font-size: 10rem;
      word-spacing: 0rem;
      letter-spacing: 1rem;
      color: $color-extra-1;

      .banner__title--bg {
         color: $color-secondary;
         background: $color-text;
      }
   }

   .banner__subtitle {
      padding: .5rem 1.2rem;
      font-size: 1.5rem;
      letter-spacing: 1rem;
      font-family: monospace;
      color: $color-text-b;
   }

   .banner__photo {
      position: absolute;
      margin-left: auto;
      height: 100%;
      bottom: 0;
      right: 0;

      &-img {
         width: 100%;
         height: 100%;
         object-fit: contain;
         object-position: bottom;
      }
   }

   &::after {
      position: absolute;
      content: '';
      bottom: 0rem;
      left: 30%;
      width: 0;
      height: 0;
      border: 2rem solid transparent;
      border-bottom-color: $color-secondary;
      transform: translateX(-50%);
   }
}

/*----------------------------*/
/* LIGHT THEME */
/*----------------------------*/

.light-theme {
   .banner__title {
      color: $color-text;
   }

   .banner__photo-img {
      filter: brightness(1.2);
      opacity: .8;
   }
}