//----------------------------------MENU
.menu{
   transition: transform .8s cubic-bezier(0.5, 0, 0.2, 1);
   position: fixed;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: .5rem 1rem;
   padding-left: 0;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 5;
   will-change: transform;
   
   //Logo Svg
   .menu__logo{
      transition: stroke .2s;
      height: 2.2rem;
      stroke: $color-text;

      &:hover{
         stroke: $color-extra-1;
      }
   }
   
   //Icon Svg
   .menu__icon{
      height: 1.5rem;
      stroke: $color-text;
      cursor: pointer;    
      overflow: visible;
      z-index: 2;
      
      .menu__icon-stroke{
         stroke-dasharray: 30 54;
         stroke-dashoffset: 30;
      }
      
      &:hover{
         stroke: $color-extra-1;
      }
   }
   .menu__icon--active{
      stroke: $color-extra-1;
      
      .menu__icon-middle{
         transform: translate(-100%);
         opacity: 0;
      }
      .menu__icon-stroke{
         stroke-dasharray: 30 56;
         stroke-dashoffset: 86;
      }
   }

   &--active{
      transform: translateX(-15rem);
   }

}

//--------------------------------MENU BODY
.menu__container{
   grid-column: 2;
   grid-row: span 2;
   width: 15rem;
   height: 100%;
   background: $color-extra-1;
   z-index: 3;

   .menu__list{
      width: 15rem;
      height: 100%;
      right: -15rem;
      top: 0;
      text-align: center;
   }
}