/*---------------------------*/
/* THEME 1 */
/*---------------------------*/
@mixin theme_1{
   --color-main: #0e0e0e;
   --color-text: #eeeeee;
   --color-secondary: #1b1b19;
   --color-extra-1: #EF233C;
   --color-text-b: #ee5527;
   --color-link: #1C5D99;
}