.skills__logo--context {
   .animated {
      z-index: 2;

      #center {
         transition: .2s linear;
         fill: $color-context-active;
         opacity: 0;
         transform-origin: center;
      }

      #one,
      #two,
      #tre {
         transition: .0s linear;
         stroke: $color-context-active;
         filter: drop-shadow(0 0 .5rem $color-context-active);
         z-index: 2;
         stroke-dasharray: 50;
         stroke-dashoffset: -286;
         animation: .2s reactAnim infinite linear;
         animation-play-state: paused;
         opacity: 0;
      }
   }

   .bg-icon {
      transition: 1.5s;
      stroke: $color-context;
      fill: $color-context;
      z-index: 1;
   }
}

//Text
.color-context {
   color: $color-context;
}

//When de animation is running
.animation--on {
   .skills__logo--context {
      .animated {

         #center {
            opacity: 1;
            animation: reactAnim2 .3s linear infinite alternate;
         }

         #one,
         #two,
         #tre {
            animation-play-state: running;
            opacity: 1;
         }
      }

      .bg-icon {
         opacity: 0;
      }
   }

   .color-context {
      color: $color-context-active;
   }
}