.skills__logo--figma {
   .animated {
      stroke: $color-figma-active;
      transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
      opacity: 0;
      z-index: 2;
      stroke-dashoffset: 0;
      stroke-dasharray: 0;
   }

   .bg-icon {
      stroke: $color-figma;
      z-index: 1;
   }
}

//Text
.color-figma {
   color: $color-figma;
}

//When de animation is running
.animation--on {

   .skills__logo--figma {
      .animated {
         filter: drop-shadow(0 0 .1rem $color-figma-active);
         stroke-dashoffset: 0;
         stroke-dasharray: 20;
         opacity: 1;
         animation: 5s infinite alternate cubic-bezier(0.68, -0.55, 0.265, 1.55);
         animation-name: es6Anim, es6Anim2;
         animation-duration: 2s, 5s;
         animation-delay: 1s;
      }
   }

   .color-figma {
      color: $color-figma-active;
   }
}

/*-------------------------------*/
/* Animations */
/*-------------------------------*/