.skills__logo--react {
   .animated {
      z-index: 2;

      #center {
         transition: .2s linear;
         fill: $color-react-active;
         opacity: 0;
         transform-origin: center;
      }

      #one,
      #two,
      #tre {
         transition: .0s linear;
         stroke: $color-react-active;
         filter: drop-shadow(0 0 .5rem $color-react-active);
         z-index: 2;
         stroke-dasharray: 50;
         stroke-dashoffset: -286;
         animation: .3s reactAnim infinite linear;
         animation-play-state: paused;
         opacity: 0;
      }
   }

   .bg-icon {
      transition: 1.5s;
      stroke: $color-react;
      fill: $color-react;
      z-index: 1;
   }
}

//Text
.color-react {
   color: $color-react;
}

//When de animation is running
.animation--on {
   .skills__logo--react {
      .animated {

         #center {
            opacity: 1;
            animation: reactAnim2 1s linear infinite alternate;
         }

         #one,
         #two,
         #tre {
            animation-play-state: running;
            opacity: 1;
         }
      }

      .bg-icon {
         opacity: 0;
      }
   }

   .color-react {
      color: $color-react-active;
   }
}

/*--------------------------*/
/* ANIMATIONS */
/*--------------------------*/
@keyframes reactAnim {
   from {
      stroke-dasharray: 50;
      stroke-dashoffset: -286;
   }

   to {
      stroke-dashoffset: -386;
   }
}

@keyframes reactAnim2 {
   from {
      opacity: 1;
      transform: scale(.8);
   }

   to {
      opacity: .5;
      transform: scale(1.1);
   }
}